html, body, .container-fluid {
    height: 100%;
    min-height: 245px;
}
html {
  position: relative;
}
body {
  background-color: #0175E4;
  color: #ffffff;
  /* Margin bottom by footer height */
  height: 100%;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #0175E4;
  color: #ffffff;
}

textarea, input {
    color: black;
    width: 100%;
}

td {
    padding-bottom: 15px;
}

.myfooter {
    color: #ffffff;
    font-size: 16px;
    margin-left: 35px;
}

.parent {
    display: table;
    table-layout: fixed;
    height: 100%;
}

.child {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}

.child-without-center {
    display:table-cell;
    vertical-align:middle;
}

.offset-right {
    padding-right: 5px;
    float: right;
    padding-top: 5px;
    width: 100%;
}

.feedback {
    padding-top: 55px;
    height: 20px;
    color: white;
    font-size: 22px;
}

.feedback a {
    color: white;
}