<!DOCTYPE html>
<html lang="en">
<head>
    <title>Startline IT</title>
    {% include 'css.html' %}
</head>
<body>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 height-small"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 height-medium"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="bs-callout bs-callout-info">
                    <h4>sdsd</h4>
                    <p>sdsd</p>
                </div>
            </div>
            <div class="col-sm-6">
                <address>
                  <strong>Startline IT</strong><br>
                  Октябрьская, 44<br>
                  Саратов, 410031<br>
                  <abbr title="Телефон">Т:</abbr> +7(8452) 650-122
                </address>
            </div>
        </div>
    </div>
</div>
</body>
</html>