<!DOCTYPE html>
<html lang="en">
<head>
    <title>Startline IT</title>
    {% include 'css.html' %}
</head>
<body>
  <div class="container-fluid">
            <div class="parent center-block">
                <div class="child">
                    <img src="static/img/logo.png" style="width: 216px; height: 68px;">
                    <blockquote>
                      <p>Ваш пропуск в мир цифровых технологий.</p>
                    </blockquote>
                </div>
            </div>
            <div>

            </div>
      </div>

<footer class="footer">
  <div class="container">
      <ul class="nav navbar-nav">
         <li class="myfooter">
               <strong>Startline IT | 2015</strong>
         </li>
      </ul>
       <ul class="nav navbar-nav navbar-right">
           <li class="myfooter">
               <abbr title="Адрес"><span class="glyphicon glyphicon-home"></span></abbr> г. Саратов, ул. Октябрьская, 44
           </li>
           <li class="myfooter">
               <abbr title="Телефон"><span class="glyphicon glyphicon-phone-alt"></span></abbr> +7(8452) 650-122
           </li>
      </ul>
  </div>
</footer>
</body>
</html>